@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Prompt', sans-serif;
}
.box {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(19deg, #FF9900 0%, #ffffff 100%);
  	height: 100vh;
}
.login-form {
  	min-width: 250px;
  	max-width: 500px;
	border-radius: 24px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form h1 {
	text-align: center;
	font-size: 3.0rem;
	margin-top: 35px;
}
.login-form input[type = "text"] {
	margin-top: 30px;
}
.login-form input[type = "password"] {
	margin-top: 10px;
}
input {
  outline: none;
 }
.links {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.links > a:first-of-type {
	margin-right: 5px;
}
.links > a {	
	background-color: #E0E0E0;
	border-radius: 24px;
	font-weight: 400;
	color: black;
	line-height: 12px;
	flex: 1;
	text-align: center;
	padding: 10px;
	text-decoration: none;
    font-family: 'Prompt';
	transition: 0.25s;
}
.links > a:hover {	
	opacity: 0.6;
}
.login-form input[type = "submit"] {
	background-color:  #000000;
	width: 100%;
	color: white;
  	border: none;
	margin-top: 35px;
  	cursor: pointer;
	padding: 10px;
  	font-family: 'Prompt', sans-serif;
  	font-size: 1.3rem;
	font-weight: 400;
	border-radius: 24px;
	transition: 0.25s;
}
.login-form input[type = "submit"]:hover {
	opacity: 0.8;
}
.login-form input[type = "text"]:focus, .login-form input[type = "password"]:focus {
 	border: 2px #21D4FD solid;
 }
.login-form input[type = "text"], .login-form input[type = "password"] {
	width: 100%;
	border: none;
	border-radius: 24px;
  	font-size: 1rem;
  	font-family: 'Prompt', sans-serif;
	background-color: gainsboro;
	padding: 15px;
} 